/internal/logic/sub_supplier/subhd/result.png
/common/result.png
/result.png
/Logs
/debugThings
/tmpthings
/model/result.png
/sub_supplier/xunlei/Logs/*.log
/config.yaml
/ChineseSubFinder.exe
/*.zip
/*.rar
/internal/logic/sub_supplier/subhd/Logs
/model/config.yaml
/internal/logic/sub_supplier/zimuku/Logs
/dist
/internal/logic/emby_helper/config.yaml
/emby_helper/Logs/*.log
/internal/config.yaml
/internal/Logs/*.log
/TestData/hotfix/001/test
/internal/pkg/hot_fix/settings.db
/TestData/sub_helper/test
/settings.db
/TestData/zips/test
/internal/pkg/Logs
/internal/pkg/emby_helper/config.yaml
/cmd/chinesesubfinder/config.yaml
/*.exe
/cmd/chinesesubfinder/*.exe
/internal/tmpthings
/TestData/sub_parser/test
/TestData/sub_format_changer/test
/internal/logic/sub_supplier/subhd/.rod
/internal/logic/sub_supplier/subhd/config.yaml
/internal/pkg/rod_helper/Logs
/internal/pkg/sub_formatter/Logs
/internal/pkg/sub_formatter/config.yaml
/internal/pkg/sub_formatter/settings.db
/cmd/chinesesubfinder/Logs
/cmd/chinesesubfinder/settings.db
/TestData/FixTimeline/test
/internal/pkg/sub_timeline_fixer/bar.html
/internal/pkg/sub_timeline_fixer/*.srt
/internal/pkg/sub_timeline_fixer/*.ass
/internal/logic/sub_timeline_fixer/config.yaml
/internal/pkg/emby_api/config.yaml

/internal/logic/sub_timeline_fixer/tmpSubFix
/internal/logic/sub_timeline_fixer/SubFixCache
/internal/logic/sub_timeline_fixer/Logs
/internal/pkg/sub_timeline_fixer/Logs
/internal/pkg/sub_timeline_fixer/config.yaml
/SubFixCache
/TestData/ffmpeg/test
/internal/pkg/ffmpeg_helper/config.yaml
/internal/pkg/ffmpeg_helper/Logs
/internal/pkg/sub_timeline_fixer/*.html
/**/CSF-SubFixCache
/CSF-DebugThings
/internal/pkg/sub_timeline_fixer/CSF-DebugThings
