/internal/logic/sub_supplier/subhd/result.png
/common/result.png
/result.png
/Logs
/debugThings
/tmpthings
/model/result.png
/sub_supplier/xunlei/Logs/*.log
/**/CSF-SubFixCache
/**/CSF-DebugThings
/**/CSF-TmpThings
/**/config.yaml
/ChineseSubFinder.exe
/*.zip
/*.rar
/internal/logic/sub_supplier/subhd/Logs
/internal/logic/sub_supplier/zimuku/Logs
/dist
/emby_helper/Logs/*.log
/internal/Logs/*.log
/internal/pkg/hot_fix/settings.db
/settings.db
/internal/pkg/Logs
/*.exe
/cmd/chinesesubfinder/*.exe
/internal/tmpthings
/internal/logic/sub_supplier/subhd/.rod
/internal/pkg/rod_helper/Logs
/internal/pkg/sub_formatter/Logs
/internal/pkg/sub_formatter/settings.db
/cmd/chinesesubfinder/Logs
/cmd/chinesesubfinder/settings.db
/internal/pkg/sub_timeline_fixer/bar.html
/internal/pkg/sub_timeline_fixer/*.srt
/internal/pkg/sub_timeline_fixer/*.ass

/internal/logic/sub_timeline_fixer/tmpSubFix
/internal/logic/sub_timeline_fixer/SubFixCache
/internal/logic/sub_timeline_fixer/Logs
/internal/pkg/sub_timeline_fixer/Logs
/SubFixCache

/internal/pkg/ffmpeg_helper/Logs
/internal/pkg/sub_timeline_fixer/*.html

/internal/logic/sub_supplier/shooter/Logs
/internal/logic/sub_supplier/xunlei/Logs

TestData/*
TestData/
/internal/pkg/hot_fix/Logs/*.log
/internal/pkg/sub_parser_hub/Logs/*.log
/internal/logic/series_helper/Logs/*.log
/internal/pkg/my_util/Logs/*.log
/internal/pkg/notify_center/Logs/*.log
/internal/pkg/pass_water_wall/result.png
/internal/pkg/pass_water_wall/Logs/*.log
/something.yaml
/.rod
/cmd/GetCAPTCHA
/.idea
/internal/backend/Logs
/internal/pkg/task_control/Logs/*.log
/internal/pkg/task_control/opendebuglog
/internal/pkg/downloader/Logs/*.log
/internal/dao/Logs/*.log
/internal/dao/*.db
/internal/pkg/strcut_json/*.json
/internal/backend/settings.db
/internal/pkg/settings/testfile.json
/internal/types/backend/reply_check_proxy.json
/internal/logic/emby_helper/Logs
