/.idea
/debugThings
/tmpthings
/**/CSF-SubFixCache
/**/CSF-DebugThings
/**/CSF-TmpThings
/**/config.yaml
/*.zip
/*.rar
/**/*.log
/**/settings.db
/**/*.exe
TestData/*
/something.yaml
/.rod
/cmd/GetCAPTCHA
/*.iml
/**/ChineseSubFinderSettings.json
/**/*.db
/**/Logs
/**/cache
/**/CustomAuth
